semantic-kernel
requests
notebook
ipykernel
nbconvert
nbformat
pandas
openai
python-dotenv
pydantic
rich
tenacity
pillow
click
asyncclick
tiktoken
fastmcp
chainlit
azure-ai-projects
azure-ai-agents
azure-core    
azure-identity
azure-mgmt-logic
azure-monitor-opentelemetry
opentelemetry-sdk
azure-core-tracing-opentelemetry
opentelemetry-exporter-otlp